/*Configuracion imagenes fondo superior*/
.bg-image1 {
    background-image: url("./../assets/images/bambu-acero-vegetal-c.jpg");
    background-repeat: no-repeat;
    background-size: 110%;

    animation-name: fadeInOut;
    animation-duration: 10s;

    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
} 

@keyframes fadeInOut{
    from{
      transform: scale(100%);
    }
    to{    
      transform: scale(105%);
    }
}
/* Aplicaci贸n de la animaci贸n al texto */
.animate-fadeInUp {
    animation: fadeInUp 4s ease-out forwards;
}
/* Animaci贸n para el texto */
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: scale(20%);
    }
    100% {
      opacity: 1;
      transform: scale(100%);
    }
  }
 
/* Ocultar barra de scroll en las certificaciones */
.scrollbar-hide::-webkit-scrollbar {
    display: none; 
  }
/*Configuracion fondo sostenibilidad*/
.bg-image2 {
    background-image: url("./../assets/images/sostenibilidad-bambu-revestimientos-sc.jpg");
    background-size: cover;
} 
/*Configuracion fondo dureza*/
.bg-image3 {
    background-image: url("./../assets/images/sostenibilidad-bambu-auditorio-sc.jpg");
    background-size: cover;
} 
/*Configuracion fondo dureza*/
.bg-image4 {
    background-image: url("./../assets/images/celosia-lamas-bambu-c.jpg");
    background-size: cover;
} 
/*Animacion de la personalizacion cnc*/
.image-item {
    transition: transform 1s ease-in-out;
  }

  
/*Animaciones de la pagina inspiraci贸n*/
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .image-item.show {
    opacity: 1;
    animation: fadeIn 0.8s ease-out;
  }